@import url('https://fonts.googleapis.com/css?family=Chivo|Lobster');

html{
  height: 100%
}

* {
  font-family: 'Chivo', sans-serif;
  text-align: center;
  color: white;
}



.partBack canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
  transition: opacity .8s ease, transform 1.4s ease
}

.partBack {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0
}



body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 49%, rgba(63,63,255,1) 100%);
  
}


h1 {
  font-family: 'Lobster', sans-serif;
  color: white;
  font-size: 2.5rem;
  padding: 0.5rem;
}




.aboutUs{
  margin: 4rem;
  background-color: #333;
  border-radius: 20px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  
}


header { 
  background: rgb(107,107,107);
  background: linear-gradient(0deg, rgba(107,107,107,1) 0%, rgba(70,70,70,1) 49%, rgba(33,33,33,1) 100%);
  padding-top: 0.1rem;
  position: sticky;
  top: 0;
  box-shadow: 0px 5px 8px #171717;
}

.logo {
  width: 30%;
  border-radius: 50%;
}

h2 {
  padding: 1rem;
}

a {
  text-decoration: none;
}

a :hover {
  color: cyan;
  box-shadow: 2.5px 2.5px 12.5px 2.5px rgba(63,63,255,1) inset;
}

p {
  font-size: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 25px;
  justify-content: center;
  padding: 2rem;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
}

.social a{
  font-size: 2rem;
  font-family: 'Lobster', sans-serif;
  background: rgb(107,107,107);
  background: linear-gradient(0deg, rgba(107,107,107,1) 0%, rgba(70,70,70,1) 49%, rgba(33,33,33,1) 100%);
  padding: 1rem;
  border-radius: 17px;
}

.social a :hover{
  color: cyan;
  box-shadow: 2.5px 2.5px 12.5px 2.5px rgba(63,63,255,1) inset;
}